/*GLOBAL*/


@font-face {
    font-family: DarkerG;
    src: url(Files/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}

html {
    font-family: DarkerG;
}

body { 
    background-color: rgb(251, 251, 249);
}

.mainadocao{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*CONTAINER*/


.container {
    border: 4px solid black;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10%;
}



/*TÍTULO*/



.title{
    
    font-size: 35px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    padding: 0 15px;    
}



/*DADOS*/

.anos{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.anos h1{
    
    width: 100%;
    margin-bottom: 16px;
}

.lobinhonome h1{
    margin-bottom: 16px;
}


.dados{    
    margin-bottom: 80px;
    display: flex; 
    margin: 0 30px;  
}

.primeiralinha{   
    display: flex;
    gap: 200px; 
    justify-content: space-between;
}


form{
    display: flex;
    flex-direction: column
}


.input_descricoes{
    height: 150px; 
    width: 100%;
    background-color: #E6E6E6;
    
}



.input_nomelobinho{
    height: 20px;
    width: 150%;
    background-color: #E6E6E6;
}



.input_linkfoto{
    background-color:#E6E6E6;
    height: 20px;
    width: 100%;
}

.input_anos{
    background-color:#E6E6E6 ;
    height: 20px;
    width: 80%;
}

/*BOTÃO*/

.SALVAR{
    width: 170px;
    height: 50px;
    background-color: #2C5680;
    border: 1px black solid;
    color: white;
    margin-bottom: 30%;
}





/*RODAPÉ*/

/*h1 {
    font-size: 96px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 130.18px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.09px;
    color: #DEB959;

} */


/*** CLASSES HEADER E FOOTER ***/


.top {
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex: center;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.gradiente {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right,#DEB959,#2C5680);
}

.barra {
    background-color: #333333;
    width: 100%;
    height: 5px;
    opacity: 0;
    transition: 0.3s;
}
.link {
    text-decoration: none;
    color: #333333;
    opacity: 1;
}

.link:hover .barra {
    opacity: 1;
}
.logo {
    width: 130px;
}

/*****footer*****/

.bottom {
    background-color: #333333;
    color: white;
    font-size: 18.7%;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
    
}

iframe{
    margin: 0% 0% 0% 10%;
}

.gradiente {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right,#DEB959,#2C5680);
}

.texto_footer {
    font-size: 1.2rem;
    width: 346px;
    margin: 0px 0px 0px 10px;
}

.contato {
    display: flex;
    margin: 21px;
    align-items: center;
}


.quem_somos_amarelo {
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin: 0px 0px 0px 20px
}

.coração {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin: 0px 12% 0px 0px;
}

.devcom {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.41px;
}

.lista_informação{
    display: flex;
    flex-direction: column;
}


/*@media(max-width: 500px){
    .footer{gap:1rem;}
    .lista_informação{gap: 2rem;}
    .textheader{font-size: 1.5rem;}
    .logo{width: 60px;}
    .title{font-size: 1.5rem;}
    .contato{margin:0px;gap:15px}
    .texto_footer{font-size: 1.2rem;margin:0px;}
    .coração{margin:0px;}
    iframe{margin:0px;margin-bottom: 2rem;}

}

/*body*/

@media(max-width:600px){
    .primeiralinha{gap:20%;}
    .container{margin: 2%;}
}

/*header*/

@media(max-width: 501px){
    .textheader{font-size: 1.5rem;}
    .logo{width: 60px;}
    iframe .map{margin:0px;}
}
/*footer*/

@media(max-width: 1000px){
    footer{justify-content: center;gap:2rem;width: 100%;}
    .lista_informação{width:100%;align-items: center; gap: 1rem;}
    .coração{margin:0px;}
    iframe{margin:0px;}
    .quem_somos_amarelo{margin:0px;}
    .texto_footer{font-size: 1.2rem;margin:0px;}
    .contato{margin:0px;gap:15px}
    
}

.lista_informação{
    display: flex;
    flex-direction: column;
}


/*@media(max-width: 500px){
    .footer{gap:1rem;}
    .lista_informação{gap: 2rem;}
    .textheader{font-size: 1.5rem;}
    .logo{width: 60px;}
    .title{font-size: 1.5rem;}
    .contato{margin:0px;gap:15px}
    .texto_footer{font-size: 1.2rem;margin:0px;}
    .coração{margin:0px;}
    iframe{margin:0px;margin-bottom: 2rem;}

}

/*body*/

@media(max-width:600px){
    .primeiralinha{gap:20%;}
    .container{margin: 2%;}
}

/*header*/

@media(max-width: 501px){
    .textheader{font-size: 1.5rem;}
    .logo{width: 60px;}
    iframe .map{margin:0px;}
}
/*footer*/

@media(max-width: 1000px){
    footer{justify-content: center;gap:2rem;width: 100%;}
    .lista_informação{width:100%;align-items: center; gap: 1rem;}
    .coração{margin:0px;}
    iframe{margin:0px;}
    .quem_somos_amarelo{margin:0px;}
    .texto_footer{font-size: 1.2rem;margin:0px;}
    .contato{margin:0px;gap:15px}
    
}