/***HTML***/
@font-face {
    font-family: DarkerG;
    src: url(Files/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}

html {
    font-family: DarkerG;
}
/*****header*****/
.top {
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
    font-size: 31.2%;
    font-weight: 700;
    display: flex;
    flex: center;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.boxtop{
    display: flex;
    align-items: center;
}

.barra {
    background-color: #333333;
    width: 100%;
    height: 5px;
    opacity: 0;
    transition: 0.3s;
}

.link {
    text-decoration: none;
    color: #333333;
    opacity: 1;
}

.link:hover .barra {
    opacity: 1;
}

.logo {
    width: 130px;
}

header p{
    font-size: 2rem;

}

/***BODY***/

.box{
    display: flex;
    justify-content: center;
    margin: 3% 0% 5% 0%;
    gap: 60px;
}

.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

.title{
    font-size: 3.5rem;
    font-weight: bold;
}

.id {
    font-size: 1rem;
}

.text{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

/***DADOS***/

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    width: 150%;
    
}

.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3%;
}

/***BOTÃO***/

.ADOTAR{
    width: 170px;
    height: 50px;
    background-color: #2C5680;
    border: 1px black solid;
    color: white;
    margin-top: 30%;
    font-size: 21px;
}

/***INPUTS***/

.primeiralinha{
    display: flex;
    gap: 200px; 
    justify-content: space-between;
    
}


form{
    display: flex;
    flex-direction: column;
    width:100%;
}


.input_seunome{
    height: 20px;
    width: 270%;
    border-top: white;
    border-left: white;
    border-right: white;
    
    

}



.input_email{
    height: 20px;
    border-top: white;
    border-left: white;
    border-right: white;

}

.input_idade{
    width: 30%;
    height: 20px;
    border-top: white;
    border-left: white;
    border-right: white;
}

.idade{ 
    display: flex;
    flex-direction: column;
    align-items: end;
}

h1{
    font-size: 1.5rem;
}

/*****footer*****/

.bottom {
    background-color: #333333;
    color: white;
    font-size: 18.7%;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
}
iframe{
    margin: 0% 0% 0% 10%;
}

.gradiente {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right,#DEB959,#2C5680);
}

.texto_footer {
    font-size: 1.2rem;
    width: 346px;
    margin: 0px 0px 0px 10px;
}

.contato {
    display: flex;
    margin: 21px;
    align-items: center;
}


.quem_somos_amarelo {
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin: 0px 0px 0px 20px
}

.coração {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin: 0px 12% 0px 0px;
}

.devcom {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.41px;
}

.lista_informação{
    display: flex;
    flex-direction: column;
}

/*header*/

@media(max-width: 501px){
    .textheader{font-size: 1.5rem;}
    .logo{width: 60px;}
    iframe .map{margin:0px;}
}
/*footer*/

@media(max-width: 1000px){
    footer{justify-content: center;gap:1rem;}
    .lista_informação{width:100%;align-items: center;}
    .coração{margin:0px;}
    iframe{margin:0px;}
    .quem_somos_amarelo{margin:0px;}
}

/*adote*/

@media(max-width:800px){
    .title{font-size: 2rem;}
    .id{font-size: 0.7rem;}
}

@media(max-width:540px){
    .title{font-size: 1.5rem;}
    .primeiralinha{gap:40%;}
    .box img{width: 120px;}
}

@media(max-width:430px){
    .title{font-size: 1.2rem;}
    .box img{width: 100px;}
}