@font-face {
    font-family: DarkerG;
    src: url(Files/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}

html {
    font-family: DarkerG;
}
/*MAIN*/
.titulo{
    font-size: large;

}
/* BARRA DE PESQUISA*/
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

}
#usr {    
    background-image: url("search\ \(1\).png");
    background-repeat: no-repeat;
    background-position:1%;
    padding-left: 2%;
    width: 60%;
}
input[type="text"] {
    padding: 10px;
    border: 1px solid #727272;
    width: 200px;
}
.vazio{
    width: 1%;
}
button {
    padding: 10px 15px;
    background-color: rgba(222, 185, 89, 1);
    color: #fff;
    border: rgba(222, 185, 89, 1);
    cursor: pointer;
}

/*CHECKBOX*/
.search-check{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.check{
    display:flex;
    padding-left: 15.5%;
    padding-top: 1%;
}

/*****header*****/
.top {
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
    font-size: 31.2%;
    font-weight: 700;
    display: flex;
    flex: center;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.boxtop{
    display: flex;
    align-items: center;
}

.barra {
    background-color: #333333;
    width: 100%;
    height: 5px;
    opacity: 0;
    transition: 0.3s;
}

.link {
    text-decoration: none;
    color: #333333;
    opacity: 1;
}

.link:hover .barra {
    opacity: 1;
}

.logo {
    width: 130px;
}

header p{
    font-size: 2rem;

}

/*****body*****/
.container{
    display: flex;
    flex-direction: column;

}

.supercontainer{
    display: flex;
    flex-direction: column;
}

/*****lobo1*****/
.boxtitle{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.conteiner{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.boxlobo{
    display: flex;
    gap: 35%;
}

.lobo1, .lobo2, .lobo3, .lobo4{
    display: flex;
    gap: 15%;
    margin-bottom: 5%;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

.img{
    width: 20rem;
    margin-left: 20%;
    box-shadow:-30px -30px 0px #2C5680;
}

.text{
    width: 50%;
    height: 45%;
    font-size: 1rem;
    text-align: start;
}
.text p{
    text-align: left;
}

.titulo{
    font-size: 2rem;
    font-family: ROBOTO;
}

.ip{
    font-size: 1.2rem;
}







/*****footer*****/

.bottom {
    background-color: #333333;
    color: white;
    font-size: 18.7%;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
    
}

iframe{
    margin: 0% 0% 0% 10%;
}

.gradiente {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right,#DEB959,#2C5680);
}

.texto_footer {
    font-size: 1.2rem;
    width: 346px;
    margin: 0px 0px 0px 10px;
}

.contato {
    display: flex;
    margin: 21px;
    align-items: center;
}


.quem_somos_amarelo {
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin: 0px 0px 0px 20px
}

.coração {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin: 0px 12% 0px 0px;
}

.devcom {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.41px;
}

.lista_informação{
    display: flex;
    flex-direction: column;
}

@media(max-width:1000px){
    .lobo1, .lobo2, .lobo3, .lobo4{display:flex;  flex-direction: column; align-items: flex-start}
    .img{width:16rem ;}
    .container{margin-top: 7%;}
    .boxlobo{gap:10%}
    .text{width: 100%;}
}

/*header*/

@media(max-width: 501px){
    .textheader{font-size: 1.5rem;}
    .logo{width: 60px;}
    iframe .map{margin:0px;}
}
/*footer*/

@media(max-width: 900px){
    footer{justify-content: center;gap:1rem;}
    .lista_informação{width:100%;align-items: center;}
    .coração{margin:0px;}
    iframe{margin:0px;}
    .quem_somos_amarelo{margin:0px;}
}