@font-face {
    font-family: DarkerG;
    src: url(Files/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}

html {
    font-family: DarkerG;
}
h1{
    font-size: 10rem;
    padding-top: 6.5rem;
    font-family: Roboto;
}


.cabecalho{
    width: 100vw;
    height: 20vh;
    margin: 0px;
}
/*HEADER*/
.top {
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
    font-size: 31.2%;
    font-weight: 700;
    display: flex;
    flex: center;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.barra {
    background-color: #333333;
    width: 100%;
    height: 5px;
    opacity: 0;
    transition: 0.3s;
}

.link {
    text-decoration: none;
    color: #333333;
    opacity: 1;
}

.link:hover .barra {
    opacity: 1;
}

.logo {
    width: 130px;
}

header p{
    font-size: 2rem;

}
/*CONTEUDO MAIN*/
.titulo{
    justify-content: space-around;
    align-content: center;
    padding-top: 70px;
    padding-bottom: 40px;
}
.text{
    font-size: 24px;
    text-align: center;
    padding-top: .5rem;
    word-break: normal;
    line-height: 24px;
    letter-spacing: 0.155em;
    margin-bottom: 140px;
    width: 64%
}
.container{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}
.title{
    font-size: 200%;
}
/*FOOTER*/
.bottom {
    background-color: #333333;
    color: white;
    font-size: 18.7%;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
    
}

iframe{
    margin: 0% 0% 0% 10%;
}

.gradiente {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right,#DEB959,#2C5680);
}

.texto_footer {
    font-size: 1.2rem;
    width: 346px;
    margin: 0px 0px 0px 10px;
}

.contato {
    display: flex;
    margin: 21px;
    align-items: center;
}


.quem_somos_amarelo {
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin: 0px 0px 0px 20px
}

.coração {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin: 0px 12% 0px 0px;
}

.devcom {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.41px;
}

.lista_informação{
    display: flex;
    flex-direction: column;
}


@media(max-width: 600px) {
    .textheader {
        font-size: 18px;
    }

    .logo{
        width: 100px;
    }

    .lista_informação{
        width:100%
    }
}