@font-face {
    font-family: DarkerG;
    src: url(Files/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}
html {
    font-family: DarkerG;
}

/*****container*****/
.container{
    display: flex;
    flex-direction: column;
}

/*****header*****/
.top {
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
    font-size: 31.2%;
    font-weight: 700;
    display: flex;
    flex: center;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.boxtop{
    display: flex;
    align-items: center;
}

.barra {
    background-color: #333333;
    width: 100%;
    height: 5px;
    opacity: 0;
    transition: 0.3s;
}

.link {
    text-decoration: none;
    color: #333333;
    opacity: 1;
}

.link:hover .barra {
    opacity: 1;
}

.logo {
    width: 130px;
}

header p{
    font-size: 2rem;

}

/*****main*****/
.image img{
    box-shadow:-30px -30px 0px #2C5680;
    margin: 8% 20%;   
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 70%;
       
}

.adotar{
    background: #7AAC3A;
    color: #FFFFFF;
}  

.excluir{
    background: #DE5959;
    color: #FFFFFF;

}


button{
    padding: 15% 48%;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0% 0% 10% 0%;
    gap: 200px;
}

.box p{
    text-align: center;

}

.text{
    width: 30%;
    height: 45%;
    font-size: 1.3rem;
    text-align: start;
}
.text p{
    text-align: left;
}

.title{
    font-size: 2rem;
    text-align: center;
    margin: 3% 0%;
    font-family: Roboto;

}

.boxtitle{
    display: flex;
    justify-content: center;
}


/*****footer*****/

.bottom {
    background-color: #333333;
    color: white;
    font-size: 18.7%;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
    
}

iframe{
    margin: 0% 0% 0% 10%;
}

.gradiente {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right,#DEB959,#2C5680);
}

.texto_footer {
    font-size: 1.2rem;
    width: 346px;
    margin: 0px 0px 0px 10px;
}

.contato {
    display: flex;
    margin: 21px;
    align-items: center;
}


.quem_somos_amarelo {
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin: 0px 0px 0px 20px
}

.coração {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin: 0px 12% 0px 0px;
}

.devcom {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.41px;
}

.lista_informação{
    display: flex;
    flex-direction: column;
}
/****showlobinho*****/
@media(max-width: 900px){
    .box{flex-direction: column;gap:0.5rem;}
    .text{width: 60%;margin-top: 20px;} 

}

@media(max-width: 501px){
    .image img{width: 300px;}
    .buttons{width:20% ;}
}
/*header*/

@media(max-width: 501px){
    .textheader{font-size: 1.5rem;}
    .logo{width: 60px;}
    iframe .map{margin:0px;}
}
/*footer*/

@media(max-width: 900px){
    footer{justify-content: center;gap:1rem;}
    .lista_informação{width:100%;align-items: center;}
    .coração{margin:0px;}
    iframe{margin:0px;}
    .quem_somos_amarelo{margin:0px;}
}
